/*******************************************************************************
 *                                                                             *
 * CSS for the DARK theme                                                      *
 *                                                                             *
 ******************************************************************************/
@import "/edu/wpi/first/shuffleboard/api/base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: #fefefe;
    /* Swatch Colors - Red */

    -swatch-100: hsb(0, 80%, 98%);
    -swatch-200: hsb(0, 80%, 88%);
    -swatch-300: hsb(0, 80%, 78%);
    -swatch-400: hsb(0, 80%, 68%);
    -swatch-500: hsb(0, 80%, 58%);

    -swatch-dark-gray: #222;
    -swatch-gray: #333;
    -swatch-light-gray: #444;
    -fx-background: -swatch-gray;
    -fx-color: -swatch-gray;
}

/*******************************************************************************
 *                                                                             *
 * Widget pane                                                                 *
 *                                                                             *
 ******************************************************************************/
.widget-pane {
    -fx-grid-line-color: -swatch-dark-gray;
}

/*******************************************************************************
 *                                                                             *
 * Menus                                                                       *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: -swatch-light-gray;
}

.menu-item {
    -fx-background-color: -swatch-gray;
}

.menu:hover, .menu:selected {
    -fx-background-color: -swatch-200;
}

.context-menu {
    -fx-background-color: -swatch-gray;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -swatch-200;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-field, .text-area {
    -fx-text-fill: -fx-text-base-color;
    -underline-color: -swatch-gray;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: -swatch-200;
}

/*******************************************************************************
 *                                                                             *
 * Button, toggle button                                                       *
 *                                                                             *
 ******************************************************************************/
.toggle-button, .button {
    -fx-background-color: rgb(64, 64, 64);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.70), 6.0, 0.3, 0, 2);
}

.toggle-button:selected, .button:selected {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

.button-raised .button .text, .button-flat .button .text {
    -fx-text-weight: Bold;
}

.button:default {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

.toggle-button:focused, .button:focused, .button:default:focused {
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: white;
}

.toggle-button:focused:selected {
    -fx-background-color: derive(-swatch-500, -12%);
    -fx-text-fill: white;
}

.toggle-button:armed, .toggle-button:selected, .button:armed, .button:default:armed {
    -fx-background-color: -swatch-500;
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Toggle switch                                                               *
 *                                                                             *
 ******************************************************************************/
.toggle-switch > .thumb-area {
    -fx-background-color: -swatch-gray;
}

.toggle-switch > .thumb {
    -fx-background-color: #AAAAAA;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: -swatch-500;
}

/*******************************************************************************
 *                                                                             *
 * Progress bar                                                                *
 *                                                                             *
 ******************************************************************************/
.progress-bar .track {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

/*******************************************************************************
 *                                                                             *
 * Titled pane                                                                 *
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: #eeeeee;
}

/*******************************************************************************
 *                                                                             *
 * Tree table, table view                                                      *
 *                                                                             *
 ******************************************************************************/
.tree-table-view *, .table-view * {
    -fx-border-color: transparent;
}

.table-row-cell * {
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: -swatch-light-gray;
}

.tree-table-view, .table-view {
    -fx-background-color: -swatch-dark-gray;
}

.tree-table-view .column-header, .table-view .column-header {
    -fx-background-color: -swatch-500;
}

.column-header-background {
    -fx-background-color: #111111;
}

.tree-table-row-cell, .table-row-cell {
    -fx-background-color: -swatch-gray;
    -fx-border-color: transparent;
}

.tree-table-row-cell:empty, .tree-table-row-cell:empty:hover,
.table-row-cell:empty, .table-row-cell:empty:hover {
    -fx-background-color: transparent;
}

.tree-table-row-cell:filled:hover,
.table-row-cell:filled:hover {
    -fx-background-color: -swatch-200;
}

.tree-table-row-cell:filled:focused:selected,
.table-row-cell:filled:hover {
    -fx-background-color: -swatch-100;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile {
    -fx-background-color: #222;
    -fx-effect: dropshadow(gaussian, #101010, 6, 0.1, 0, 4);
}

.tile .label {
    -fx-text-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * Layouts                                                                     *
 *                                                                             *
 ******************************************************************************/
.layout-stack {
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-border-color: black;
}

.layout-label * {
    -fx-text-fill: #aaa;
}

/*******************************************************************************
 *                                                                             *
 * List view                                                                   *
 *                                                                             *
 ******************************************************************************/
.list-view {
    -fx-border-width: 0;
    -fx-border-color: orange;
    -fx-background-color: -swatch-500;
}

.list-view:focused .list-cell:filled {
    -fx-background-color: -swatch-dark-gray;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -swatch-gray;
    -fx-text-fill: -swatch-100;
}

.list-view:hover .list-cell:filled:hover {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * Slider, range slider                                                        *
 *                                                                             *
 ******************************************************************************/
.slider .axis, .range-slider .axis {
    -fx-tick-label-fill: #eee;
}

/*******************************************************************************
 *                                                                             *
 * Medusa gauges                                                               *
 *                                                                             *
 ******************************************************************************/
.gauge {
    -fx-needle-color: -swatch-100;
    -fx-tick-mark-color: white;
    -fx-major-tick-color: white;
    -fx-minor-tick-color: #aaa;
    -fx-medium-tick-color: #aaa;
}

/*******************************************************************************
 *                                                                             *
 * Tab pane, tabs                                                              *
 *                                                                             *
 ******************************************************************************/
.tab-pane {
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Drive bases                                                                 *
 *                                                                             *
 ******************************************************************************/
.robot-drive {
    -fx-fill: #666;
}
