/*******************************************************************************
 *                                                                             *
 * CSS for the DARK theme                                                      *
 *                                                                             *
 ******************************************************************************/
@import "base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: #fefefe;
    /* Swatch Colors - Red */
    -swatch-100: hsb(0, 80%, 98%);
    -swatch-200: hsb(0, 80%, 88%);
    -swatch-300: hsb(0, 80%, 78%);
    -swatch-400: hsb(0, 80%, 68%);
    -swatch-500: hsb(0, 80%, 58%);
    -swatch-dark-gray: #222;
    -swatch-gray: #333;
    -swatch-light-gray: #444;
    -fx-background: -swatch-gray;
    -fx-color: -swatch-gray;
}

/*******************************************************************************
 *                                                                             *
 * Menus                                                                       *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: -swatch-light-gray;
}

.menu-item {
    -fx-background-color: -swatch-gray;
}

.menu:hover, .menu:selected {
    -fx-background-color: -swatch-200;
}

.context-menu {
    -fx-background-color: -swatch-gray;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -swatch-200;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-field, .text-area {
    -fx-text-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * Button, toggle button                                                       *
 *                                                                             *
 ******************************************************************************/
.button, .toggle-button {
    -fx-background-color: -swatch-light-gray;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: -swatch-500;
}

.toggle-button:pressed {
    -fx-background-color: -swatch-300;
}

.toggle-button:selected {
    -fx-background-color: -swatch-500;
}

/*******************************************************************************
 *                                                                             *
 * Toggle switch                                                               *
 *                                                                             *
 ******************************************************************************/
.toggle-switch > .thumb-area {
    -fx-background-color: derive(base, -25%);
}

.toggle-switch > .thumb {
    -fx-background-color: -swatch-light-gray;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: -swatch-500;
}

/*******************************************************************************
 *                                                                             *
 * Progress bar                                                                *
 *                                                                             *
 ******************************************************************************/
.progress-bar .track {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

/*******************************************************************************
 *                                                                             *
 * Titled pane                                                                 *
 *                                                                             *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: #eeeeee;
}

/*******************************************************************************
 *                                                                             *
 * Tree table, table view                                                      *
 *                                                                             *
 ******************************************************************************/
.tree-table-view *, .table-view * {
    -fx-border-color: transparent;
}

.table-row-cell * {
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: -swatch-light-gray;
}

.tree-table-view, .table-view {
    -fx-background-color: -swatch-dark-gray;
}

.tree-table-view .column-header, .table-view .column-header {
    -fx-background-color: -swatch-500;
}

.column-header-background {
    -fx-background-color: #111111;
}

.tree-table-row-cell, .table-row-cell {
    -fx-background-color: -swatch-gray;
    -fx-border-color: transparent;
}

.tree-table-row-cell:empty, .tree-table-row-cell:empty:hover,
.table-row-cell:empty, .table-row-cell:empty:hover {
    -fx-background-color: transparent;
}

.tree-table-row-cell:filled:hover,
.table-row-cell:filled:hover {
    -fx-background-color: -swatch-200;
}

.tree-table-row-cell:filled:focused:selected,
.table-row-cell:filled:hover {
    -fx-background-color: -swatch-100;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-header-background {
    -fx-background-color: -swatch-gray;
}

.tab-header-area .tab {
    -fx-background-color: transparent, -swatch-300, -swatch-gray;
}

.tab-header-area .tab:selected {
    -fx-background-color: transparent, -swatch-300, -swatch-100;
}

.tab:selected .label {
    -fx-text-fill: #333333;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile {
    -fx-background-color: #222;
}

.tile .label {
    -fx-text-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * List view                                                                   *
 *                                                                             *
 ******************************************************************************/
.list-view {
    -fx-border-width: 0;
    -fx-border-color: orange;
    -fx-background-color: -swatch-500;
}

.list-view:focused .list-cell:filled {
    -fx-background-color: -swatch-dark-gray;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -swatch-gray;
    -fx-text-fill: -swatch-100;
}

.list-view:hover .list-cell:filled:hover {
    -fx-background-color: -swatch-light-gray;
    -fx-text-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-area, .text-field {
    -underline-color: -swatch-500;
}

/*******************************************************************************
 *                                                                             *
 * Slider, range slider                                                        *
 *                                                                             *
 ******************************************************************************/
.slider .axis, .range-slider .axis {
    -fx-tick-label-fill: #eee;
}
