/*******************************************************************************
 *                                                                             *
 * CSS for the LIGHT theme                                                     *
 *                                                                             *
 ******************************************************************************/

@import "/edu/wpi/first/shuffleboard/api/base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile:selected {
    -fx-background-color: derive(-swatch-100, +75%);
}

.tile-title-label * {
    -fx-text-fill: #222;
}

.tile .slider .axis {
    -fx-tick-label-fill: #222;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-area, .text-field {
    -underline-color: #eee;
}

.jfx-slider .slider-value {
    -fx-fill: #222;
    -fx-stroke: #222;
    -fx-stroke-width: 1;
}
