/*******************************************************************************
 *                                                                             *
 * CSS for the LIGHT theme                                                     *
 *                                                                             *
 ******************************************************************************/

@import "/edu/wpi/first/shuffleboard/api/base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile:selected {
    -fx-effect: dropshadow(gaussian, -swatch-500, 6, 0.1, 0, 4);
}

.tile-title-label * {
    -fx-text-fill: #222;
}

.tile .slider .axis {
    -fx-tick-label-fill: #222;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-area, .text-field {
    -underline-color: #eee;
}
