/*******************************************************************************
 *                                                                             *
 * CSS for the LIGHT theme                                                     *
 *                                                                             *
 ******************************************************************************/

@import "base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-pane {
    -fx-border-color: black;
}

.tab-header-background {
    -fx-background-color: -swatch-light-gray;
}

.tab-header-area .tab {
    -fx-background-color: transparent, -swatch-300, -swatch-dark-gray;
}

.tab-header-area .tab:selected {
    -fx-background-color: transparent, -swatch-300, -swatch-100;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile {
    -fx-background-color: -swatch-100;
}

.tile:selected {
    -fx-effect: dropshadow(gaussian, -swatch-500, 6, 0.1, 0, 4);
}

.tile-title-label {
    -fx-text-fill: #222;
}

.tile .slider .axis {
    -fx-tick-label-fill: #222;
}

/*******************************************************************************
 *                                                                             *
 * Text field, text area                                                       *
 *                                                                             *
 ******************************************************************************/
.text-area, .text-field {
    -underline-color: #eee;
}
