/*******************************************************************************
 *                                                                             *
 * CSS for the LIGHT theme                                                     *
 *                                                                             *
 ******************************************************************************/

@import "base.css";

/*******************************************************************************
 *                                                                             *
 * Global constants                                                            *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-text-base-color: #313131;
}

/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-header-background {
    -fx-background-color: -swatch-gray;
}

.tab-header-area .tab {
    -fx-background-color: transparent, -swatch-300, -swatch-gray;
}

.tab-header-area .tab:selected {
    -fx-background-color: transparent, -swatch-300, -swatch-100;
}

/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile {
    -fx-background-color: -swatch-300;
}

.tile:selected {
    -fx-effect: dropshadow(gaussian, -swatch-500, 6, 0.1, 0, 4);
}

.tile-title-bar {
    -fx-background-color: linear-gradient(to bottom, #444, black);
}

.tile-title-label {
    -fx-text-fill: #eee;
}

.tile .slider .axis {
    -fx-tick-label-fill: #222;
}
