/*
 * main.css
 *
 * This is the main css file that determines the default styles for everything in the app. Controls and views
 * that override these default settings should define them in their own css files.
 */

/* Global constants */

* {
    -fx-text-fill: text-light;
    -fx-font-family: "Roboto";
    wpi-red: #AC2B37;
    text-dark: #111111;
    text-light: #fefefe;
    base: derive(black, 30%);
    base-light: derive(base, 20%);
    highlight: wpi-red;
}

/* Global settings */

.root {
    -fx-background-color: base;
}

/* Main split pane */

.split-pane {
    -fx-background-color: base;
}

.split-pane-divider {
    -fx-background-color: highlight;
    /* Bring the divider to the edges and make it a bit taller than default */
    -fx-padding: -0.125em 0.5em -0.125em 0.5em;
}

.split-pane-divider:hover, .split-pane-divider:pressed {
    -fx-background-color: #b743ff;
}

/* Menu styles */

.menu-bar {
    -fx-background-color: base-light;
}

.menu-item {
    -fx-background-color: base;
}

.menu:hover, .menu:selected {
    -fx-background-color: #b743ff;
}

.menu .label {
    -fx-text-fill: text-light;
}

.context-menu {
    -fx-background-color: base;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #b743ff;
}

.menu-item:hover .label {
    -fx-text-fill: text-light;
}

/* Miscellaneous controls */

/* TextField, TextArea */

.text-field, .text-area {
    -fx-text-fill: #111111;
}

/* Button, toggle button */

.button, .toggle-button {
    -fx-background-color: base-light;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: wpi-red;
}

.toggle-button:pressed {
    -fx-background-color: derive(wpi-red, 40%);
}

.toggle-button:selected {
    -fx-background-color: wpi-red;
}

/* Toggle switch */

.toggle-switch > .thumb-area {
    -fx-background-color: derive(base, -25%);
}

.toggle-switch > .thumb {
    -fx-background-color: base-light;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: wpi-red;
}

/* Tree table */

.tree-table-view * {
    -fx-border-color: transparent;
}

.tree-table-view {
    -fx-background-color: base-light;
}

.tree-table-view .column-header {
    -fx-background-color: highlight;
}

.column-header-background {
    -fx-background-color: #111111;
}

.tree-table-row-cell {
    -fx-background-color: base;
    -fx-border-color: transparent;
}

.tree-table-row-cell:empty, .tree-table-row-cell:empty:hover {
    -fx-background-color: transparent;
}

.tree-table-row-cell:hover {
    -fx-background-color: highlight;
}

.tree-table-row-cell:selected {
    -fx-background-color: derive(highlight, -25%);
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/* tab pane */

.tab-header-background {
    -fx-background-color: base-light;
}

.tab-header-area .tab {
    -fx-background-color: transparent, #eee, base-light;
}

.tab-header-area .tab:selected {
    -fx-background-color: transparent, #eee, base;
}

.tab-header-area .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane {
    -fx-open-tab-animation: NONE; -fx-close-tab-animation: NONE;
}

.dashboard-tabs .tab-label {
    -fx-font-size: 15px;
}

.dashboard-tabs .tab-header-area {
    -fx-padding: 5px;
}

.dashboard-tabs .tab {
    -fx-background-color: transparent;
    -fx-border-color: white, base-light;
    -fx-border-width: 1px 5px, 0px 4px;
    -fx-padding: 4px 10px;
    -fx-align: center;
}

.dashboard-tabs .tab:hover {
    -fx-cursor: hand;
}

.dashboard-tabs .tab:selected .focus-indicator {
    -fx-border-color: TRANSPARENT;
}

.dashboard-tabs .tab:selected {
    -fx-background-color: base;
}

/*



.dashboard-tabs .tab-close-button {
    -fx-border-width: 20px;
}*/

.widget-gallery .item {
    -fx-border-width: 2;
    -fx-border-color: base-light;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-alignment: center;
    -fx-cursor: hand;
}

/* Tiles */

.tile {
    -fx-background-color: base-light;
}

.tile:selected {
    -fx-effect: dropshadow(gaussian, highlight, 6, 0.1, 0, 4);
}

.tile-title-bar {
    -fx-background-color: linear-gradient(to bottom, wpi-red, derive(wpi-red, -10%));
}

.slider .axis * {
    -fx-fill: white;
}

.grid-highlight {
    -fx-border-color: rgba(0, 255, 0, 0.75);
    -fx-border-width: 0.25em;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.grid-highlight:colliding {
    -fx-border-color: rgba(255, 0, 0, 0.75);
    -fx-background-color: rgba(255, 0, 0, 0.1);
}

.property-sheet, .property-sheet .property-pane {
    /* TODO figure out why there's a thin white line at the bottom */
    -fx-background-color: base-light;
}
