/*******************************************************************************
 *                                                                             *
 * Base CSS for all themes.                                                    *
 * This sets the styles for some app-specific types that are consistent        *
 * through all themes (like the tile highlight) or use CSS variables to make   *
 * them easy to reskin.                                                        *
 ******************************************************************************/
@import "material.css";

/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/
.root {
    -fx-font-family: "Roboto";
}

/*******************************************************************************
 *                                                                             *
 * Widget pane                                                                 *
 *                                                                             *
 ******************************************************************************/
.widget-pane {
    -fx-grid-line-color: -swatch-light-gray;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane                                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-pane {
    -fx-border-color: white;
    -fx-border-width: 0.025em;
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.tab-header-area .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Dashboard Tabs                                                              *
 *                                                                             *
 ******************************************************************************/
.tab-label {
    -fx-font-size: 15px;
}

.tab-header-area {
    -fx-padding: 2px;
}

.tab:hover {
    -fx-cursor: hand;
}

.dashboard-tabs .tab .label {
    -fx-text-fill: white;
}

.dashboard-tabs .tab .text-field {
    -fx-text-fill: #DDDDDD;
    -fx-highlight-fill: -swatch-200;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-align: center;
}

.tab .tab-close-button {
    -fx-padding: 0 0 0 10px;
}


/*******************************************************************************
 *                                                                             *
 * Tiles                                                                       *
 *                                                                             *
 ******************************************************************************/
.tile {
    -fx-font-size: 11pt;
    -fx-effect: dropshadow(gaussian, #999, 6, 0.1, 0, 4);
}

.tile:selected {
    -fx-effect: dropshadow(gaussian, -swatch-500, 6, 0.1, 0, 4);
}

.tile-title-bar {
    -fx-padding: 4px;
    -fx-background-color: -swatch-200;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}

.tile .scroll-pane, .tile .viewport,
.tile .property-sheet .property-pane, .tile .property-sheet .tool-bar {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Layouts                                                                     *
 *                                                                             *
 ******************************************************************************/
.layout-stack {
    -fx-background-color: rgba(0, 0, 0, 0.005);
    -fx-border-width: 1;
    -fx-border-color: -swatch-100;
}

.layout-label {
    -fx-padding: 0 12px 5px 12px;
    -fx-font-size: 12px;
}

.layout-label * {
    -fx-text-fill: #333;
}

/*******************************************************************************
 *                                                                             *
 * Grid Highlight                                                              *
 *                                                                             *
 ******************************************************************************/
.grid-highlight {
    -fx-border-color: rgba(0, 255, 0, 0.75);
    -fx-border-width: 0.25em;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.grid-highlight:colliding {
    -fx-border-color: rgba(255, 0, 0, 0.75);
    -fx-background-color: rgba(255, 0, 0, 0.1);
}

/*******************************************************************************
 *                                                                             *
 * Widget Gallery                                                              *
 *                                                                             *
 ******************************************************************************/
.widget-gallery .item {
    -fx-border-width: 2;
    -fx-border-color: -swatch-200;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-alignment: center;
    -fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * Property sheet                                                              *
 *                                                                             *
 ******************************************************************************/
.property-sheet .property-pane * {
    -fx-font-size: 10pt;
}

/*******************************************************************************
 *                                                                             *
 * Slider, range slider                                                        *
 *                                                                             *
 ******************************************************************************/
.slider .track, .range-slider .track {
    -fx-background-color: -swatch-300;
}

/*******************************************************************************
 *                                                                             *
 * Linear indicator                                                            *
 *                                                                             *
 ******************************************************************************/
.linear-indicator .track {
    -fx-pref-height: 1em;
    -fx-background-color: -swatch-light-gray;
}

.linear-indicator:vertical .track {
    -fx-pref-width: 1em;
}

.linear-indicator .range-bar {
    -fx-background-color: -swatch-200;
}

.linear-indicator .low-thumb, .linear-indicator .high-thumb {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: transparent;
}

.linear-indicator-text {
    -fx-text-fill: black;
}

.linear-indicator-text .text {
    -fx-font-size: 9pt;
}

.voltage-view .range-bar {
    -fx-background-color: linear-gradient(to bottom, gold, derive(gold, -10%));
}

.voltage-view:vertical .range-bar {
    -fx-background-color: linear-gradient(to right, gold, derive(gold, -10%));
}

/*******************************************************************************
 *                                                                             *
 * Medusa gauges                                                               *
 *                                                                             *
 ******************************************************************************/
.gauge {
    -fx-needle-color: -swatch-500;
    -fx-bar-color: -swatch-200;
    -fx-bar-background-color: -swatch-light-gray;
    -fx-tick-label-color: -fx-text-base-color;
    -fx-tick-mark-color: black;
    -fx-major-tick-color: #333;
    -fx-minor-tick-color: #aaa;
    -fx-medium-tick-color: #aaa;
    -fx-knob-color: -swatch-light-gray;
    -fx-unit-color: -fx-text-base-color;
    -fx-value-color: -fx-text-base-color;
    -fx-title-color: -fx-text-title-color;
    -fx-subtitle-color: -fx-text-subtitle-color;
    -fx-tick-mark-ring-visible: true;
}

/*******************************************************************************
 *                                                                             *
 * Dialog pane                                                                 *
 *                                                                             *
 ******************************************************************************/
.dialog-pane .content {
    /* Bring the content to all edges */
    -fx-padding: 0; /* 10 0 0 10 */
}

.dialog-pane .header-panel {
    -fx-background-color: -swatch-500;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Footer                                                                      *
 *                                                                             *
 ******************************************************************************/
.footer {
    -fx-background-color: -swatch-gray;
}

/*******************************************************************************
 *                                                                             *
 * Playback controls                                                           *
 *                                                                             *
 ******************************************************************************/
.playback-controls .button {
    -fx-background-radius: 1;
}

/*******************************************************************************
 *                                                                             *
 * Connection labels                                                           *
 *                                                                             *
 ******************************************************************************/
.connection-indicator-area {
    -fx-background-color: transparent;
}

/*
.connection-indicator:connected {
    -fx-text-fill: green;
}

.connection-indicator:disconnected {
    -fx-text-fill: red;
}
*/

/*******************************************************************************
 *                                                                             *
 * Drive bases                                                                 *
 *                                                                             *
 ******************************************************************************/
.robot-drive {
    -fx-stroke: none;
    -fx-fill: #333;
}

.robot-direction-vector {
    -fx-stroke: -swatch-400;
    -fx-fill: -fx-stroke;
    -fx-stroke-width: 1.5;
}
